@media screen and (max-width:1366px) {
	.carousel-control {
		position: absolute;
		top: 65%;
		left: 6%;
	}

	.carousel-control.right {
		left: 10%;
	}
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1199px) {
	.carousel-control {
		position: absolute;
		top: 65%;
		left: 8%;
	}

	.carousel-control.right {
		left: 12%;
	}

	.single-new-project a.slide-btn {
		padding: 17px 27px;
	}
}

@media screen and (max-width:1100px) {}

@media screen and (max-width:1099px) {
	.bl-txt {
		max-width: 200px;
	}
}

@media screen and (max-width:1024px) {
	.carousel-control {
		position: absolute;
		top: 65%;
		left: 0%;
	}
}

@media screen and (max-width:992px) {}

@media screen and (max-width:991px) {
	.navbar-default .navbar-nav li a {
		font-size: 16px;
		padding: 17px 0px 6px 18px;
	}

	.carousel-control {
		position: absolute;
		top: 65%;
		left: 10%;
	}

	.carousel-control.right {
		left: 15%;
	}

	.sticky .search span {
		top: 22px;
	}

	.about-us-txt {
		margin-top: 0;
	}

	.service-txt h2 a {
		font-size: 20px;
	}

	.single-news-box {
		margin-bottom: 30px;
	}

	.hm-para-news {
		display: grid;
	}

	.main-timeline:before {
		left: 11%;
		top: 5.2%;
	}

	.main-timeline .timeline {
		top: 2px;
		left: -43px;
	}

	.main-timeline .timeline.timeline-ml-20 {
		margin-left: 48px;
	}

	.xtra-para {
		max-width: max-content;
	}

	.blog-single-musiq {
		left: 22%;
	}

	.comment-body {
		max-width: 450px;
	}

	.children {
		padding-left: 0;
	}
}

@media screen and (max-width:768px) {}

@media screen and (max-width:767px) {
	.menubar ul.nav.navbar-nav {
		display: inline-grid;
	}

	.navbar-default .navbar-nav li a {
		font-size: 16px;
		padding: 0 25px;
	}

	.navbar-collapse {
		border-top: 0;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		position: absolute;
		top: 21px;
		left: -16px;
		width: 104.6%;
		border-color: transparent;
		background: rgba(115, 152, 216, 1);
	}

	.wrapper-sticky.sticky-active .navbar-default .navbar-collapse,
	.wrapper-sticky.sticky-active .navbar-default .navbar-form {
		position: relative;
		top: -1px;
		left: -16px;
		border-color: transparent;
		background: rgba(115, 152, 216, 1);
	}

	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:active,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
		padding-bottom: 0px;
	}

	.navbar-default .navbar-nav li a,
	.navbar-default.navbar-nav li a:active,
	.navbar-default.navbar-nav li a:focus,
	.navbar-default .navbar-nav li a:hover {
		padding-bottom: 0px;
	}

	.sticky .navbar-default .navbar-nav li a,
	.sticky .navbar-default .navbar-nav li a:active,
	.sticky .navbar-default .navbar-nav li a:focus,
	.sticky .navbar-default .navbar-nav li a:hover {
		color: #fff;
		margin: 10px 0px;
	}

	.carousel-control {
		position: absolute;
		top: 65%;
		left: 0%;
	}

	.carousel-control.right {
		left: 10%;
	}

	.single-slide-item h2 {
		font-size: 45px;
	}

	.single-slide-item {
		padding-top: 100px;
	}

	.single-team-box {
		width: 270px;
	}

	.single-we-do-box {
		max-width: 350px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.about-us-img {
		max-width: 350px;
		margin: 0 auto;
		margin-top: 60px;
	}

	.team-box-inner {
		max-width: 270px;
	}

	.single-news-box {
		margin: 0 auto;
		max-width: 350px;
		margin-bottom: 30px;
		min-height: 508px;
	}

	.single-contact-btn.pull-right {
		float: left !important;
	}

	.single-new-project a.slide-btn {
		margin-top: 30px;
	}

	.border-bottom {
		max-width: 250px;
	}

	.main-timeline .timeline {
		left: 80px;
		top: -28px;
	}

	.main-timeline {
		max-width: 350px;
	}

	.main-timeline:before {
		left: 22%;
		height: 79%;
	}

	.main-timeline .timeline.timeline-ml-20 {
		margin-left: -70px;
	}

	.xtra-timeline.main-timeline:before {
		top: -2.8%;
		left: 2.5%;
		height: 79%;
	}

	@media (max-width: 768px) {
		.logo {
			max-width: 250px;
			margin-right: 5px;
		}

		.divider {
			height: 30px;
			margin-left: 0px;
			margin-right: 10px;
		}
	}
}

@media screen and (max-width: 680px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 105%;
	}
}

@media screen and (max-width: 667px) {
	.header-right.pull-right {
		float: left !important;
		margin-top: 10px;
	}
}

@media screen and (max-width: 640px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 105.5%;
	}

	.carousel-control {
		position: absolute;
		top: 70%;
		left: 0%;
	}

	.foot-menu.pull-right {
		float: left;
	}

	.we-do-comment p {
		font-size: 14px;
		max-width: 193px;
	}

	.isotope-overlay h3 a,
	.isotope-overlay a {
		font-size: 16px;
	}

	.home1-testm-txt p {
		font-size: 16px;
	}

	.section-header h2 span {
		font-size: 20px;
	}

	.comment-body {
		max-width: 350px;
	}
}

@media screen and (max-width: 580px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 106%;
	}
}

@media screen and (max-width: 540px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 107%;
	}

	.carousel-control.right {
		left: 20%;
	}

	.foot-menu.pull-right {
		float: left !important;
		margin-top: 20px;
	}
}

@media screen and (max-width: 480px) {
	.single-new-project h3 {
		font-size: 22px;
	}

	.comment-body {
		display: block;
		max-width: 275px;
	}

	.comment-content {
		padding-left: 0;
		margin-top: 30px;
	}
}

@media screen and (max-width: 440px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 108%;
	}

	.single-slide-item a.slide-btn {
		font-size: 10px;
	}

	.single-slide-item h2 {
		font-size: 30px;
	}

	.single-slide-item p {
		font-size: 16px;
	}

	.about-us-img:before {
		display: none;
	}

	.main-timeline {
		max-width: 250px;
	}

	.main-timeline:before {
		left: 31%;
	}

	.bl-single-tag {
		float: left !important;
		margin-top: 10px;
	}

	.bl-single-contact-box {
		padding: 22px 0 80px;
	}
}

@media screen and (max-width:399px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 110%;
	}

	.single-news-box {
		min-height: 430px;
	}
}

@media screen and (max-width:350px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 111%;
	}

	.single-new-project h3 {
		font-size: 18px;
	}

	.single-team-box {
		width: 100%;
	}

	.main-timeline {
		max-width: 150px;
	}

	.main-timeline:before {
		left: 52%;
	}

	.xtra-timeline.main-timeline:before {
		left: 5.5%;
	}
}

@media screen and (max-width: 320px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		width: 113%;
	}

	.social-icon {
		margin-left: -8px;
	}

	.single-ststistics-box {
		margin-bottom: 60px;
	}

	.contact-form h3,
	.contact-office-address h3 {
		font-size: 18px;
		max-width: 225px;
		line-height: 1.5;
	}
}

@media screen and (max-width: 1024px) {
	.carousel-control {
		position: absolute;
		top: 65%;
		left: 5%;
	}

	.carousel-control.right {
		left: 10%;
	}

	.single-new-project a.slide-btn {
		padding: 15px 25px;
	}

	.navbar-default .navbar-nav li a {
		font-size: 16px;
		padding: 15px 10px;
	}

	.single-slide-item h2 {
		font-size: 40px;
	}

	.single-team-box {
		width: 80%;
		margin: 0 auto;
	}

	.single-news-box {
		margin: 0 auto;
		max-width: 90%;
		margin-bottom: 20px;
	}

	.main-timeline {
		max-width: 80%;
		margin: 0 auto;
	}

	.comment-body {
		max-width: 90%;
		margin: 0 auto;
	}

	.about-us-img {
		max-width: 80%;
		margin: 0 auto;
		margin-top: 40px;
	}

	.xtra-timeline.main-timeline:before {
		left: 10%;
	}
}

@media screen and (max-width: 768px) {
	.carousel-control {
		left: 0%;
	}

	.carousel-control.right {
		left: 5%;
	}

	.single-slide-item h2 {
		font-size: 35px;
	}

	.single-team-box {
		width: 90%;
	}

	.single-news-box {
		max-width: 100%;
	}

	.main-timeline {
		max-width: 90%;
	}

	.about-us-img {
		max-width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.single-new-project h3 {
		font-size: 20px;
	}

	.comment-body {
		max-width: 100%;
	}

	.single-slide-item a.slide-btn {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
	.navbar-default .navbar-nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: auto;
	}

	.navbar-default .navbar-nav li {
		margin: 0 10px;
	}

	.navbar-default .navbar-nav li a {
		font-size: 14px;
		padding: 10px 15px;
		width: auto;
	}

	.navbar-default .navbar-collapse {
		background: rgba(115, 152, 216, 1);
		box-shadow: none;
		width: auto;
		position: absolute;
		right: 0;
		display: flex;
	}

	.navbar-default .navbar-toggle {
		display: block;
		float: right;
		position: absolute;
		right: 10px; /* Adjusted position */
	}

	.navbar-default .navbar-collapse.in {
		display: flex !important;
		flex-direction: column;
		right: 0px;
	}

	.navbar-default .navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-default .navbar-collapse.collapse.in {
		display: flex !important;
	}

	.navbar-default .navbar-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

@media screen and (min-width: 348px) and (max-width: 550px) {
	.navbar-default .navbar-nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navbar-default .navbar-nav li {
		margin: 0 10px;
	}

	.navbar-default .navbar-nav li a {
		font-size: 14px;
		padding: 10px 15px;
	}

	.navbar-default .navbar-collapse {
		background: rgba(115, 152, 216, 1);
		box-shadow: none;
	}

	.navbar-default .navbar-toggle {
		display: block;
		float: right;
	}

	.navbar-default .navbar-collapse.in {
		display: flex !important;
		flex-direction: column;
	}

	.navbar-default .navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-default .navbar-collapse.collapse.in {
		display: flex !important;
	}

	.navbar-default .navbar-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}